<!-- header.component.html -->
<header class="header">
    <div class="logo">
      <a href="#">
        <img src="assets/img/logo/logo.webp" alt="Logo da Advocacia" />
        <p>ADVOGADOS ASSOCIADOS</p>
      </a>
    </div>
    <div class="divRight">
      <nav class="nav-links">
        <a href="./#about-section">Sobre nós</a>
        <a href="./#services-section">Nossos serviços</a>
        <a href="./#contact-section">Contato</a>
      </nav> |
      <nav class="nav-social-links">
        <a href="#">
          <img src="assets/img/logo/facebook.png" target="_blank" alt="facebook" />
        </a>
        <img src="assets/img/logo/linkedin.png" alt="linkedin" (click)="openLinkedIn()" />
      </nav>
    </div>
  </header>
