<footer class="footer">
    <div class="footerInfo">
        <div class="footerSection">
            <p class="infoTitle">Contato</p>
            <p>Telefone: +55 (61) 99999 9999</p>
            <p>E-mail: contato{{"@"}}domain.org</p>
        </div>
        <div class="footerSection">
            <p class="infoTitle">Funcionamento</p>
            <p>Segunda a sexta: das 8 às 18 horas</p>
            <p>Sábado: das 8 às 12 horas</p>
        </div>
        <div class="footerSection">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3838.6833934818133!2d-48.0697127!3d-15.820639700000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935a3391b366fc47%3A0x88c16b784a3ad98f!2sSenai%20Taguatinga!5e0!3m2!1sen!2sbr!4v1732048062552!5m2!1sen!2sbr" 
                width="230" height="130" style="border:0;border-radius: 15px;" allowfullscreen="" 
                loading="lazy" referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
    </div>
    <div>
        <p class="copyright">Direitos reservados. <span class=author>SENAI</span>, 2024-25</p>
    </div>
</footer>
