<!-- carousel.component.html -->
<div class="section carousel-section">
    <div class="carousel-slides">
      <div class="carousel-slide">
        <img class="carousel-image" src="./assets/img/adv/img1.png" alt="Imagem 1" />
        <p class="galeryText">Um breve texto sobre nossos serviços.</p>
      </div>
      <div class="carousel-slide">
        <img class="carousel-image" src="./assets/img/adv/img2.png" alt="Imagem 2" />
        <p class="galeryText text2">Outro breve texto sobre nossos serviços.</p>
      </div>
      <div class="carousel-slide">
        <img class="carousel-image" src="./assets/img/adv/img3.png" alt="Imagem 3" />
        <p class="galeryText text3">Ainda outro breve texto sobre nossos serviços.</p>
      </div>
    </div>
</div>
