<section id="about-section" class="section about-section">
    <h2>Sobre Nós</h2>
    <p>Com mais de 20 anos de experiência, nossa advocacia está comprometida em oferecer soluções jurídicas eficazes e personalizadas para nossos clientes. Nosso objetivo é fornecer suporte jurídico com excelência e ética, protegendo os interesses e os direitos de nossos clientes.</p>

    <div class="galeryImages">
        <div class="galeryImage galeryEffect">
            <img src="assets/img/team/img1.png" alt="img1" />
            <p class="galeryText">Um breve texto sobre esse honorável membro de nossa excelente equipe.</p>
        </div>
        <div class="galeryImage galeryEffect">
            <img src="assets/img/team/img2.png" alt="img2" />
            <p class="galeryText">Um breve texto sobre esse outro honorável membro de nossa excelente equipe.</p>
        </div>
        <div class="galeryImage galeryEffect">
            <img src="assets/img/team/img3.png" alt="img3" />
            <p class="galeryText">Um breve texto sobre mais esse honorável membro de nossa excelente equipe.</p>
        </div>
        <div class="galeryImage galeryEffect">
            <img src="assets/img/team/img4.png" alt="img4" />
            <p class="galeryText">Um breve texto sobre esse honorável Zé Ruela.</p>
        </div> 
    </div>
</section>
