<section id="contact-section" class="section contact-section ">
    <div class="form-borders">
        <h2>Fale com a gente</h2>
        <form id="contact-form" class="contact-form" ngName="form" (ngSubmit)="submitForm()">
            <div class="inline">
                <input type="text" id="txtNome" name="nome" class="form-control" required minlength="4"
                    [(ngModel)]="nome" #item="ngModel" placeholder="Nome">
                <div class="alert" *ngIf="item.invalid && (item.dirty || item.touched)">
                    <div *ngIf="item.hasError('required')">Informe o seu nome, por favor.</div>
                    <div *ngIf="item.hasError('minlength')">Este campo deve conter pelo menos 4 caracteres.</div>
                </div>  
            </div>
            <div class="inline">
                <input type="email" id="txtEmail" [(ngModel)]="email" name="txtEmail" required minlength="4"
                    [(ngModel)]="email" #item2="ngModel" placeholder="Email">
                <div *ngIf="item2.invalid && (item2.dirty || item2.touched)" class="alert">
                    <div *ngIf="item2.hasError('required')">Informe o seu email, por favor.</div>
                    <div *ngIf="item2.hasError('minlength')">Este campo deve conter pelo menos 4 caracteres.</div>
                </div>  
            </div>
            <div class="inline">
                <input type="text" id="txtTelefone" [(ngModel)]="telefone" name="txtTelefone" required minlength="10"
                    [(ngModel)]="telefone" #item3="ngModel" placeholder="Telefone">
                <div *ngIf="item3.invalid && (item3.dirty || item3.touched)" class="alert">
                    <div *ngIf="item3.hasError('required')">Informe o seu telefone, por favor.</div>
                    <div *ngIf="item3.hasError('minlength')">Este campo deve conter pelo menos 10 caracteres.</div>
                </div>
            </div>
            <div class="inline">
                <input type="text" id="txtAssunto" [(ngModel)]="assunto" name="txtAssunto" required minlength="10"
                    [(ngModel)]="assunto" #item4="ngModel" placeholder="Assunto">
                <div *ngIf="item4.invalid && (item4.dirty || item4.touched)" class="alert">
                    <div *ngIf="item4.hasError('required')">Informe o assunto da mensagem, por favor.</div>
                    <div *ngIf="item4.hasError('minlength')">Este campo deve conter pelo menos 10 caracteres.</div>
                </div>
            </div>
            <div class="inline">
                <textarea id="txtMensagem" [(ngModel)]="mensagem" name="txtMensagem" required minlength="10"
                    [(ngModel)]="mensagem" #item5="ngModel" placeholder="Mensagem"></textarea>
                <div *ngIf="item5.invalid && (item5.dirty || item5.touched)" class="alert">
                    <div *ngIf="item5.hasError('required')">Informe a mensagem, por favor.</div>
                    <div *ngIf="item5.hasError('minlength')">Este campo deve conter pelo menos 10 caracteres.</div>
                </div>
            </div>
            <button type="submit">Enviar</button>
        </form>
    </div>
</section>