<!-- app.component.html -->
<!-- <div class="topSpacer"></div> -->
<app-header></app-header>

<app-carousel></app-carousel>

<app-about-us></app-about-us>
<app-our-services></app-our-services>
<app-contact-form (submitEvent)="openModal()"></app-contact-form>

<div class="modal-backdrop" *ngIf="showModal"></div>
<app-modal-message *ngIf="showModal" (closeEvent)="closeModal()"></app-modal-message>

<app-footer></app-footer>
<script>alert('ddd')</script>
<script type="javascript" src="assets/js/accordion.js"></script>

