<!-- https://furlanetoadv.com.br/perguntas-frequentes/ -->
 
<section id="services-section" class="section services-section">
    <div class="section-borders">
        <div class="top">
            <h2>Nossos serviços</h2>  
            <p class="intro">É nosso dever e objetivo contribuir para a divulgação do conhecimento e a valorização da cidadania. Para resolução de dúvidas específicas de casos concretos, consulte um de nossos advogados. Confira abixo algumas questões frequentes, de caráter geral.  
            </p>
        </div>
        <div class="faq">
            <div class="faq-item" *ngFor="let faq of faqs; let i = index">
                <div class="faq-question" id="question{{i}}" (click)="toggleResposta(i)">
                    <p class="question">{{ faq.question }}</p>
                </div> 
                <div class="faq-answer" id="answer{{i}}">
                    <p class="answer">{{ faq.answer }}</p>
                </div> 
            </div>
        </div>
    </div>
</section>

